@import "../../../styles/vars.scss";

.logo {
  font-size: 32px;
  text-decoration: none;
  color: $bg;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $text;
  transition: all .5s ease-in-out;
  &:hover {    
    background-color: $blue;
    color: $text;
  }
  
}

@media (max-width:760px) {
  .logo {
    font-size: 18px;
  }  
}
