@import "../../../../../styles/vars.scss";


.table {
  border-collapse: collapse;
  table-layout: fixed;
}

.row {
  &:nth-of-type(odd) {
    background-color: rgba($bg, .3);
  }  
}

.cell {
  //border: solid 1px $text;
  padding: 10px 5px;
  text-align: center;
}

.itemsCell {
  padding: 2px;
}

.sm {
  min-width: 60px;
}

.md {
  min-width: 80px;
}

.lg {
  width: 150px;
}