@import "../../../styles/vars.scss";

.name {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 5px 5px;
}

.miniBlock {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba($bg, .3);
  height: calc(100% - 35px);
}