@import "../../../../styles/vars.scss";

.currentMatch {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radiantTitle {
  color: $green;
  font-size: 20px;
  margin-left: 10px;
}

.direTitle {
  color: $red;
  font-size: 20px;
  margin-left: 10px;
}