@import "../../../../../styles/vars.scss";

.item {
  border-radius: 5px;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainWrapper{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-right: 2px;
  gap: 2px;
}

.backpackWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  gap: 1px;
}

.neutral {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.bgLarge {
  border-radius: 5px;
  width: 30px;
  height: 22px;
  background-color: $bg;
}

.bgSmall {
  border-radius: 5px;
  width: 20px;
  height: 14px;
  background-color: $bg;
}

.bgRound {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $bg;
}


