@import "../../../../styles/vars.scss";

.link {
  color: $text;
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr);
  text-decoration: none;
  align-items: center;
  height: 40px;
  &:last-of-type {
    & .matchItem {
      border-bottom: 0;
    }    
  }
}

.matchItem {
  border-bottom: 1px solid $border;
  padding: 0 20px;
  cursor: pointer;
  & p {
    text-align: center;
    &:last-child {
      text-align: end;
    }
  }  
}

.win {
  @extend %transition-bg;
  background-color: $green;
  &:hover {
    background-color: $green-hover;
  }
}

.lose {
  @extend %transition-bg;
  background-color: $red;
  &:hover {
    background-color: $red-hover;
  }
}

@media (max-width:760px) {
  .resultItem {    
    & div {      
      & p {
        font-size: 1rem;
      }  
    }
  }
}

@media (max-width:560px) {

}