@import "../../../../styles/vars.scss";

.link {
  color: $text;
  display: block;
  text-decoration: none;
  &:last-of-type {
    & .matchItem {
      border-bottom: 0;
    }    
  }
}

.matchItem {
  @extend %transition-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  padding: 10px;
  cursor: pointer;
  & div {
    display: flex;
    align-items: center;
    & img {
      border-radius: 5px;
    }
    & p {
      margin-left: 10px;
      font-size: 20px;
    }  
  }
}

.lastMatch {
  font-size: 12px;
  color: rgba(255, 255, 255, .5);
}

.win {
  background-color: $green;
  &:hover {
    background-color: $green-hover;
  }
}

.lose {
  background-color: $red;
  &:hover {
    background-color: $red-hover;
  }
}

@media (max-width:760px) {
  .resultItem {    
    & div {      
      & p {
        font-size: 1rem;
      }  
    }
  }
}

@media (max-width:560px) {

}