@import "../../../styles/vars.scss";

.profile {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 400px 2fr;
  grid-template-areas:
    "profile matches"
    "selected selected";
}