@import "../../../../styles/vars.scss";

.general {
  padding: 10px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;   
  & div {
    display: flex;
    align-items: center;
  } 
}

.avatar {
  border-radius: 10px;
}

.name {
  font-size: 1.5rem;
  margin-left: 10px;
}

.bottom {
  margin-top: 30px;
  display: flex;
  //justify-content: center;
  gap: 30px;
  height: 50%;
}