@import "../../../../styles/vars.scss";

.rank {
  position: relative;
  & img {
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
    }
  }  
}

.displayNone {
  display: none;
}